<div class="sobre">
    <h1>
        <p>Olá,</p>
    
        <p>Meu nome é Wesley, tenho 27 anos e trabalho com programação FrontEnd.</p>
        
        <p>Sou funcionário da empresa Grupo IV2 que é um canal Fluig, com um time de profissionais especializados em Projetos para GED, Workflow, Redes Sociais Corporativas, Portais e Consultoria para Modelagem de Processos e vários outros tipos de implementações atendendo as necessidades dos clientes. Normalmente  trabalho com javascript e seus frameworks, mas também, tenho  conhecimento em BackEnd e banco de dados.</p>
        
        <p>Sou um cara bem espontâneo e gosto de sempre estar me divertindo com as pessoas ao meu redor.</p>
        
        <p>Gosto muito de assistir animes em meu tempo livre, sou super fã de Naruto, Hunter x Hunter, Code Geass e Kimetsu no Yaiba. Claro que não pode faltar as séries, no momento estou vendo The Blacklist (recomendo). Também gosto de jogar futebol sempre que possível.</p>
        
        
    </h1>
</div>
